footer{
    background: rgb(69, 69, 77);
    font-size: 20px;
    color: rgb(34, 109, 112);
  }
  
  hr{
    width: 600px;
    border: 0.5px solid rgb(165, 172, 209);
  }
  a{
    text-decoration: none;
  }
  
  .contact{
    cursor: pointer;
    text-decoration: underline;
  }
  
  .font-icone{
    font-size: 40px;
    cursor: pointer;
    color: inherit;
  }
  .font-icone:hover{
    color: inherit;
  }
  
  .middle{
    margin: 0 40px 0 40px;
  }
  .right{
    margin-right: 40px;
  }
  
  .copyright-sigle{
    font-size: 20px;
    font-weight: bold;
  }
  
  .copyright-text{
    font-weight: bold;
  }

  .top-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .left-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px 0 20px 0
  }
  
.white-letter{
  color: white;
}

  .bottom-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  
    align-items: center;
    background: rgb(36, 36, 43);
    font-size: 18px;
  }
  