.App {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
    margin-left: 230px;
  }
}

.nintendo {
  display: flex;
  flex-direction: column;
}

.row1Nintendo {
  display: flex;
  flex-direction: row;
}

.row2Nintendo {
  display: flex;
  flex-direction: row;
}

.gameboy {
  display: flex;
  flex-direction: column;
}

.row1Gameboy {
  display: flex;
  flex-direction: row;
}

.row2Gameboy {
  display: flex;
  flex-direction: row;
}

.Playstation {
  display: flex;
  flex-direction: column;
}

.row1Playstation {
  display: flex;
  flex-direction: row;
}

.row2Playstation {
  display: flex;
  flex-direction: row;
}

.divPetitPanier {
  display: flex;
  flex-direction: column;
  height: 100vh;
}