.App {
  background-image: url('./images/mario222.jpeg');
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .cardAcceuil {
    flex-direction: column;
    align-items: center;
  }
}

.divPetitPanier {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titrePanier {
  font-family: 'Press Start 2P', cursive;
}

.generalPreview {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.bouttonPreviewRetour {
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.bouttonPreviewRetour:hover {
  background-color: #87CEFA !important;
}

.cardNintendo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cardNintendo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cardGameboy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cardGameboy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cardPlaystation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cardPlaystation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}